{% extends 'djangoapp/base.html' %}

{% block content %}
<style>
    .create-post-container {
        text-align: center;
        margin-top: 20px;
    }

    .create-post-link {
        display: inline-block;
        padding: 12px 24px;
        background-color: #ff5500;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        border-radius: 4px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        position: relative;
        overflow: hidden;
    }

    .create-post-link:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
        transition: all 0.3s ease;
    }

    .create-post-link:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    }

    .create-post-link:hover:before {
        left: 100%;
    }

    .create-post-link .icon {
        display: inline-block;
        margin-right: 8px;
        font-size: 24px;
        vertical-align: middle;
        animation: pulse 1.5s infinite;
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }
</style>

 
{% if is_authenticated %}
<div style="text-align: center;">
    <h2 style="color: #eb0d0d; display: inline-block;">You are logged in as </h2>
    <h2 style="color: #000000; display: inline-block;"> &nbsp;{{ username }}</h2>
</div>
{% endif %}
{% if user.is_authenticated %}
<div class="create-post-container">
    <a href="{% url 'create-post' %}" class="create-post-link">
        <span class="icon">+</span> Create Post
    </a>
</div>
{% endif %}
{% if message %}
<h2 style="color: #121212; text-align: center;">{{ message }}</h2>
{% endif %}

<div class="container mb-4">
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" name="searchinput" placeholder="Search...">
                    <div class="input-group-append">
                        <button class="btn" type="submit" style="background-color: #FF6347; border-color: #FF6347;">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% if not searched_post %}
<!-- Featured Posts Section -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-4" style="color: #FF6347;">Featured Posts</h2>
        </div>
    </div>
    <div class="row">
        {% for featured_post in featured_posts %}
        <div class="col-md-4">
            <div class="featured-post">
                <img src="{{ featured_post.featured_image.url }}" alt="{{ featured_post.title }}">
                <h3 style="color: #121212;">{{ featured_post.title }}</h3>
                <p class="text-secondary" style="color: #FF6347;">{{ featured_post.date_posted }}</p>
                <p style="color: #121212;">{{ featured_post.summary }}</p>
                <a href="{{ featured_post.get_absolute_url }}" class="btn" style="background-color: #FF6347; border-color: #FF6347;">Read More</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
<!-- Blog Post Listings -->
<div class="container mt-5">
    <div class="row">
        {% if not searched_post %}
        <div class="col-md-8">
            <h2 class="mb-4" style="color: #FF6347;">Latest Posts</h2>
            {% for post in posts %}
            <div class="blog-post">
                <h3 style="color: #121212;">{{ post.title }}</h3>
                <p class="text-secondary" style="color: #FF6347;">{{ post.date_posted }}</p>
                <p style="color: #121212;">{{ post.summary }}</p>
                <a href="{{ post.get_absolute_url }}" class="btn" style="background-color: #FF6347; border-color: #FF6347;">Read More</a>
            </div>
            {% endfor %}
        {% endif %}
        {% if searched_post %}
        <div class="col-md-8">
        <h2 class="mb-4" style="color: #FF6347;">Search Results for {{ searchinput }} :</h2>
        {% if posts %}
        {% for post in posts %}
        <div class="blog-post">
        <h3 style="color: #121212;">{{ post.title }}</h3>
        <p class="text-secondary" style="color: #FF6347;">{{ post.date_posted }}</p>
        <p style="color: #121212;">{{ post.summary }}</p>
        <a href="{{ post.get_absolute_url }}" class="btn" style="background-color: #FF6347; border-color: #FF6347;">Read More</a>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-md-8">
        <h2 class="mb-4" style="color: #FF6347;">No results found for "{{ searchinput }}"</h2>
        <p style="color: #121212;">Sorry, we couldn't find any posts matching your search query. Please try a different keyword or phrase.</p>
        </div>
        {% endif %}
        {% endif %}

            <!-- Pagination -->
            <div class="row">
                <div class="col-lg-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if posts.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}" style="color: #121212;">Previous</a></li>
                            {% endif %}
                            {% for num in posts.paginator.page_range %}
                            <li class="page-item {% if posts.number == num %}active{% endif %}"><a class="page-link" href="?page={{ num }}" style="color: #121212; ">{{ num }}</a></li>
                            {% endfor %}
                            {% if posts.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}" style="color: #121212;">Next</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="sidebar">
                <h3 class="mb-3" style="color: #FF6347;">Categories</h3>
                <ul class="list-unstyled">
                    {% for category in categories %}
                    <li><a href="{{ category.get_absolute_url }}" style="color: #121212;">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>

                <h3 class="mb-3 mt-4" style="color: #FF6347;">Tags</h3>
                <div class="tags">
                    {% for tag in tags %}
                    <a href="{{ tag.get_absolute_url }}" class="badge" style="background-color: #121212; color: #FFFFFF;">{{ tag.name }}</a>
                    {% endfor %}
                </div>

                <div class="mt-4">
                    <h3 class="mb-3" style="color: #FF6347;">Share on Social Media</h3>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#" style="color: #121212;">
                                <i class="fab fa-facebook fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" style="color: #121212;">
                                <i class="fab fa-twitter fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" style="color: #121212;">
                                <i class="fab fa-linkedin fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" style="color: #121212;">
                                <i class="fab fa-github fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" style="color: #121212;">
                                <i class="fab fa-reddit fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                
                
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelector('.create-post-link').addEventListener('mouseover', function() {
    this.style.color = 'hsl(160, 50%, 20%)'; // Intense color on mouseover
    this.querySelector('.icon').style.color = 'white'; // Icon turns white
});

document.querySelector('.create-post-link').addEventListener('mouseout', function() {
    this.style.color = 'hsl(160, 50%, 60%)'; // Back to normal color
    this.querySelector('.icon').style.color = 'hsl(160, 50%, 80%)'; // Icon back to normal
});
</script>
{% endblock %}
