{% extends 'djangoapp/base.html' %}
{% block content %}
<div class="container">
    {% if message %}
        <h2 style="color: green;text-align: center;">{{message}}</h2>
    {% endif %}
    <h1 class="mt-5">Login</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Login</button>
        {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    </form>
    <div class="text-right mt-3">
        <a href="{% url 'register' %}">Click Here To Register</a>
    </div>
</div>
{% endblock %}
