{% extends 'djangoapp/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="blog-post">
                <h1>{{ post.title }}</h1>
                <p class="text-secondary">{{ post.date_posted }}</p>
                <img src="{{ post.featured_image.url }}" alt="{{ post.title }}" class="img-fluid mb-4">
                <div class="rich-text-content">
                    {{ post.content|safe }}
                </div>
                {% for subheading in post.subheadings.all %}
                <div class="post-subheading">
                    <h2>{{ subheading.title }}</h2>
                    <div class="subheading-content">
                        {{ subheading.content|safe }}
                    </div>
                </div>
                {% endfor %}
                {% for code_block in post.code_blocks.all %}
                <div class="code-block">
                    {% if code_block.title %}
                    <h3>{{ code_block.title }}</h3>
                    {% endif %}
                    <pre><code>{{ code_block.code|safe }}</code></pre>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="sidebar">
                <h3 class=""style="color: #ff6200;">Categories</h3>
                <ul class="list-unstyled">
                    {% for category in categories %}
                    <li><a href="{{ category.get_absolute_url }}" style="color: #121212;">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
                <h3 class="" style="color: #ff6200;">Tags</h3>
                <div class="tags">
                    {% for tag in tags %}
                    <a href="{{ tag.get_absolute_url }}" class="badge" style="background-color: #121212; color: #FFFFFF;">{{ tag.name }}</a>
                    {% endfor %}
                </div>
                <div class="mt-4">
                    <h3 class="mb-3" style="color: #ff6200;">Share on Social Media</h3>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#" style="color: #121212;">
                                <i class="fab fa-facebook fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" style="color: #121212;">
                                <i class="fab fa-twitter fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" style="color: #121212;">
                                <i class="fab fa-linkedin fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" style="color: #121212;">
                                <i class="fab fa-github fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" style="color: #121212;">
                                <i class="fab fa-reddit fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
